@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
.header {
  font-family: 'RobotoRegular';
  background-color: #f7f9f9;
}

.header-logo__img {
  min-width: 82px;
  min-height: 46px;
}

.header-wrap {
  padding: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-items {
  padding: 0 0 0 60px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.header-item {
  font-size: 13px;
  text-transform: uppercase;
  white-space: nowrap;
  border-right: 1px dashed #dfdfdf;
  height: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-item:last-child {
  border: none;
}

.header a {
  text-decoration: none;
  color: #2d2d2d;
}

.header a:hover {
  color: #3fc380;
}

.header-contacts {
  font-family: 'RobotoBold';
  font-size: 12px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-contacts__text {
  margin-left: 9px;
  min-width: 149px;
}

.header-contacts__text a {
  font-size: 18px;
}

.header-contacts__text p {
  margin: 0;
  white-space: nowrap;
}

.footer {
  font-family: 'RobotoRegular';
  background-color: #393939;
}

.footer-logo__img {
  min-width: 82px;
  min-height: 46px;
}

.footer-wrap {
  padding: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.footer-items {
  padding: 0 0 0 60px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.footer-item {
  font-size: 13px;
  text-transform: uppercase;
  white-space: nowrap;
  height: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-item:last-child {
  border: none;
}

.footer a {
  text-decoration: none;
  color: #ffffff;
}

.footer a:hover {
  color: #3fc380;
}

.footer-contacts {
  font-family: 'RobotoBold';
  font-size: 12px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-contacts__text {
  margin-left: 9px;
  min-width: 149px;
  color: #ffffff;
}

.footer-contacts__text a {
  font-size: 18px;
}

.footer-contacts__text p {
  margin: 0;
  white-space: nowrap;
}

.footer-line {
  width: 100%;
  opacity: 0.2;
  background-color: #fff;
  margin: 0 0 32px 0;
}

.footer-text {
  text-align: center;
  opacity: 0.5;
  color: #ffffff;
  font-size: 12px;
  font-weight: 300;
  line-height: 17px;
  padding-bottom: 39px;
}

.main {
  padding-top: 170px;
  padding-bottom: 186px;
  background-image: url("../img/main/main.png");
  background-size: cover;
  z-index: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px;
}

.main-container {
  position: relative;
}

.main-image {
  z-index: 1;
  position: absolute;
  right: 0;
  top: -250px;
}

.main-line {
  width: 50%;
  background-color: #fff;
  margin-bottom: 33px;
}

.main-button {
  width: 198px;
  height: 55px;
  color: #ffffff;
  font-family: 'RobotoRegular';
  font-size: 13px;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid;
  border-radius: 40px;
}

.main-button:hover {
  background-color: #3fc380;
  border: 2px solid transparent;
}

.main-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #ffffff;
}

.main-items__title {
  font-size: 170px;
  text-transform: uppercase;
  font-family: 'FranklinGothicHeavy';
  z-index: 2;
  height: 117px;
  margin-bottom: 43px;
}

.main-text {
  font-size: 19px;
  font-weight: 400;
  line-height: 26px;
  font-family: 'Open Sans';
  margin-bottom: 34px;
}

.main-layers__first {
  position: absolute;
  bottom: 0;
  left: 0;
}

.main-layers__second {
  position: absolute;
  bottom: 0;
  right: 0;
}

.info {
  margin-top: 44px;
  margin-bottom: 48px;
}

.info-block__first {
  font-family: 'RobotoRegular';
}

.info-block__first-title:after {
  content: '';
  width: 56px;
  height: 5px;
  background-color: #3fc380;
  display: block;
  margin-top: 17px;
  margin-bottom: 17px;
}

.info-block__first-text {
  text-align: justify;
}

.about {
  margin-top: 60px;
  margin-bottom: 86px;
}

.about-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-block__img {
  margin-bottom: 22px;
  max-height: 110px;
  vertical-align: middle;
}

.about-block__items {
  text-align: center;
}

.about-block__items-title {
  font-family: "RobotoBold";
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
}

.about-block__items-text {
  font-family: "RobotoLight";
  color: #383838;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  text-align: justify;
}

.choice {
  background-image: url("../img/choice/bg-img-first.png");
  background-size: fixed;
  position: relative;
  z-index: 1;
  height: 460px;
  margin-bottom: 42px;
}

.choice:before {
  content: '';
  right: 0;
  top: 0;
  width: 40%;
  height: 100%;
  background-color: #f7f9f9;
  position: absolute;
  z-index: -1;
}

.choice-block__first-title {
  width: 428px;
  position: absolute;
  top: 30%;
  left: 25%;
  font-family: 'FranklinGothicDemiC';
  color: #ffffff;
  font-size: 110px;
  font-weight: 400;
  line-height: 90px;
  text-transform: uppercase;
  text-align: right;
}

.choice-block__first-img {
  position: absolute;
  left: 41%;
  bottom: 0;
}

.choice-block__second-wrap {
  width: 458px;
  position: absolute;
  top: 20%;
  left: 63%;
}

.choice-block__second-title {
  margin-bottom: 14px;
}

.choice-block__second-text {
  text-align: justify;
  margin-bottom: 28px;
}

.choice2 {
  margin-bottom: 65px;
  background-image: url("../img/choice/bg-image-second.png");
  background-size: fixed;
  position: relative;
  z-index: 1;
  height: 460px;
}

.choice2:before {
  content: '';
  left: 0;
  top: 0;
  width: 40%;
  height: 100%;
  background-color: #f7f9f9;
  position: absolute;
  z-index: -1;
}

.choice2-block__first-title {
  width: 428px;
  position: absolute;
  top: 30%;
  left: 43%;
  font-family: 'FranklinGothicDemiC';
  color: #ffffff;
  font-size: 110px;
  font-weight: 400;
  line-height: 90px;
  text-transform: uppercase;
  text-align: left;
}

.choice2-block__first-img {
  position: absolute;
  left: 39%;
  bottom: 0;
}

.choice2-block__second-wrap {
  width: 458px;
  position: absolute;
  top: 20%;
  right: 63%;
}

.choice2-block__second-title {
  margin-bottom: 14px;
}

.choice2-block__second-text {
  text-align: justify;
  margin-bottom: 28px;
}

.attraction__img {
  min-height: 220px;
}

.attraction__items {
  width: 764px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.attraction__items-title {
  margin-bottom: 15px;
}

.attraction__items-text {
  margin-bottom: 43px;
}

.attraction__wrap {
  margin-bottom: 57px;
}

.attraction__block-img {
  min-height: 220px;
}

.attraction__block-title {
  color: #8e8e8e;
  font-family: 'RobotoLight';
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}

.attraction__block-title:after {
  content: '';
  width: 40px;
  height: 2px;
  background-color: #cccccc;
  margin-top: 9px;
  margin-bottom: 20px;
  display: block;
}

.attraction__block-text {
  width: 100%;
  color: #383838;
  font-family: 'RobotoBold';
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  background-color: #f7f9f9;
  padding-top: 20px;
  padding-bottom: 35px;
  padding-left: 20px;
  border-bottom: 3px solid #eeeeee;
  margin-bottom: 40px;
}

.attraction__block-text:hover {
  border-bottom: 3px solid #3fc380;
}

.attraction__block-text:hover > .attraction__block-title:after {
  background-color: #383838;
}

.attraction__button {
  margin-left: auto;
  margin-right: auto;
}

.attraction-main__title {
  margin-top: 45px;
  margin-bottom: 31px;
}

.idea {
  margin-bottom: 77px;
}

.idea-title {
  margin-top: 44px;
  margin-bottom: 15px;
}

.idea-text {
  text-align: justify;
}

.idea-image {
  margin: 35px 0;
  width: 100%;
}

.rooms {
  margin-bottom: 78px;
}

.rooms-title {
  margin-top: 42px;
}

.rooms-block {
  margin-top: 29px;
}

.rooms-block__second {
  height: 350px;
}

.rooms-block__second-title {
  color: #3fc380;
  font-family: 'RobotoBold';
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 13px;
}

.rooms-block__second-title:before {
  content: '';
  width: 40px;
  height: 2px;
  background-color: #cccccc;
  margin-top: 11px;
  margin-bottom: 17px;
  display: block;
}

.rooms-block__second-text {
  color: #383838;
  font-family: 'RobotoLight';
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  margin-bottom: 21px;
  text-align: justify;
}

.rooms-block__second-price {
  color: #383838;
  font-family: 'RobotoBold';
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.rooms-block__second-price span {
  color: #959595;
  font-size: 12px;
}

.rooms-block__second-price span span {
  color: #3fc380;
}

.rooms-button {
  position: absolute;
  left: 15px;
  bottom: 20px;
}

.slider-for {
  width: 458px;
  margin: 0 auto 10px;
  overflow: hidden;
}

.slider-nav {
  width: 370px;
  height: 85px;
  margin: auto;
}

.slick-arrow {
  position: absolute;
}

.slick-prev {
  background: url("../img/rooms/arrow-left.png") no-repeat;
  bottom: 35px;
  left: -20px;
  width: 6px;
  height: 25px;
  border: none;
}

.slick-next {
  bottom: 35px;
  right: -20px;
  background: url("../img/rooms/arrow-right.png") no-repeat;
  width: 6px;
  height: 25px;
  border: none;
}

.photo {
  margin-right: 10px;
}

.extra {
  background-color: #f7f9f9;
}

.extra-wrap {
  margin-bottom: 59px;
}

.extra-title {
  padding-top: 55px;
  margin-bottom: 28px;
}

.extra-block {
  position: relative;
  margin-bottom: 30px;
}

.extra-block:hover > .extra-block__wrap:after {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.extra-block__wrap {
  position: relative;
}

.extra-block__wrap:after {
  content: 'Трансфер от Симферополя до Балаклавы - 2000₽';
  display: none;
  font-family: 'RobotoBold';
  color: #ffffff;
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  height: 0%;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  background-image: url("../img/extra/hover-img.png");
}

.extra-block__text {
  height: 126px;
  background-color: #fff;
  color: #383838;
  font-family: 'RobotoBold';
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  padding-left: 21px;
  padding-top: 24px;
  border-bottom: 3px solid #eeeeee;
}

.extra-block__text:before {
  content: '';
  width: 40px;
  height: 2px;
  background-color: #cccccc;
  margin-bottom: 25px;
  display: block;
}

.bathhouse {
  background-image: url("../img/bathhouse/bg-image.png");
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 106px;
  padding-bottom: 110px;
}

.bathhouse-container {
  position: relative;
}

.bathhouse-image {
  position: absolute;
  right: 0;
  top: -250px;
}

.bathhouse-line {
  width: 50%;
  background-color: #fff;
  margin-bottom: 0;
}

.bathhouse-button {
  width: 198px;
  height: 55px;
  color: #ffffff;
  font-family: 'RobotoRegular';
  font-size: 13px;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid;
  border-radius: 40px;
}

.bathhouse-button:hover {
  background-color: #3fc380;
  border: 2px solid transparent;
}

.bathhouse-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #ffffff;
}

.bathhouse-items__title {
  font-size: 113px;
  font-weight: 400;
  line-height: 58px;
  text-transform: uppercase;
  font-family: 'FranklinGothicHeavyCyrillic';
  height: 75px;
  margin-bottom: 30px;
}

.bathhouse-items__subtitle {
  font-family: 'FranklinGothicHeavyCyrillic';
  font-size: 48px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 21px;
}

.bathhouse-text {
  font-size: 19px;
  font-weight: 400;
  line-height: 26px;
  font-family: 'Open Sans';
  margin-bottom: 40px;
  margin-top: 26px;
}

.bathhouse-layers__first {
  position: absolute;
  bottom: 0;
  left: 0;
}

.bathhouse-layers__second {
  position: absolute;
  bottom: 0;
  right: 0;
}

.objects {
  margin-top: 48px;
  margin-bottom: 33px;
}

.objects-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 34px;
}

.objects-block__img {
  margin-bottom: 25px;
  margin-top: auto;
  vertical-align: middle;
}

.objects-block__items {
  text-align: center;
}

.objects-block__items-title {
  font-family: "RobotoBold";
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
}

.objects-block__items-text {
  font-family: "RobotoLight";
  color: #383838;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  text-align: center;
}

.portfolio {
  background-color: #f7f9f9;
  padding-bottom: 71px;
  padding-top: 71px;
  margin-bottom: 61px;
}

.slider-for__portfolio {
  width: 100%;
}

.slider-nav__portfolio {
  width: 1000px;
}

.bathhouse-about__title {
  margin-bottom: 15px;
}

.bathhouse-about__text {
  text-align: justify;
  margin-bottom: 72px;
}

.feedback {
  background-image: url("../img/feedback/bg-img-main.png");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 94px;
  padding-bottom: 74px;
}

.feedback-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feedback-title {
  font-family: "FranklinGothicHeavyCyrillic";
  font-size: 48px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  margin-bottom: 38px;
}

.feedback-wrap {
  margin-bottom: 31px;
  text-align: center;
  color: #ffffff;
}

.feedback-wrap__title {
  font-family: 'RobotoBold';
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
}

.feedback-wrap__text {
  font-family: 'RobotoLight';
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
}

.feedback-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feedback-form__wrap {
  width: 976px;
  margin-right: auto;
  margin-left: auto;
}

.feedback-input {
  width: 319px;
  height: 53px;
  border: 1px solid #ededed;
  background-color: #ffffff;
  margin-bottom: 12px;
  color: #606060;
  font-family: "RobotoLight";
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
  padding-left: 48px;
}

.feedback-input__name {
  background: url("../img/feedback/name.png") no-repeat;
  background-position: 16px 50%;
  background-color: #ffffff;
}

.feedback-input__tel {
  background: url("../img/feedback/phone.png") no-repeat;
  background-position: 16px 50%;
  background-color: #ffffff;
}

.feedback-input__email {
  background: url("../img/feedback/email.png") no-repeat;
  background-position: 16px 50%;
  background-color: #ffffff;
}

.feedback-textarea {
  width: 100%;
  height: 96px;
  border: 1px solid #ededed;
  color: #606060;
  font-family: "RobotoLight";
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
  background: url("../img/feedback/text.png") no-repeat;
  background-color: #ffffff;
  background-position: 16px 16px;
  padding-left: 48px;
  padding-top: 16px;
}

.feedback-button {
  margin-top: 28px;
}

.feedback-button:hover {
  color: #606060 !important;
  border: 2px solid #606060 !important;
  background-color: #fff !important;
}

.line-btm {
  margin-top: 0;
}

.contacts-info {
  margin-bottom: 49px;
}

.contacts-info__title {
  margin-top: 41px;
  margin-bottom: 21px;
}

.contacts-info__text {
  text-align: justify;
}

.contacts-main {
  position: relative;
  margin-bottom: 76px;
}

.contacts-main__wrap {
  background-color: #3fc182;
  width: 400px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 11%;
}

.contacts-main__wrap-items {
  padding-left: 35px;
  color: #ffffff;
  font-family: 'RobotoLight';
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
}

.contacts-main__img {
  position: absolute;
  bottom: 0;
}

.contacts-main__text {
  padding: 32px;
  padding-bottom: 15px;
  color: #ffffff;
  font-family: 'RobotoLight';
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
}

.contacts-main__items {
  margin-left: 0;
}

.contacts-main__items-icon {
  margin-right: 9px;
}

.contacts-feedback {
  margin-bottom: 49px;
}

.contacts-feedback__title {
  font-family: 'RobotoLight' !important;
  margin-bottom: 23px;
}

.contacts-feedback__media {
  width: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 44px;
  margin-bottom: 3px;
}

.contacts-feedback__media-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  border-right: 1px solid #94acc8;
}

.contacts-feedback__media-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  font-family: 'RobotoLight';
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  padding-left: 14px;
}

.vk {
  background-color: #4c75a3;
}

.fb {
  background-color: #3b5a9b;
}

.google {
  background-color: #dc4a38;
}

.contacts-input {
  width: 410px;
  height: 53px;
  border: 1px solid #ededed;
  background-color: #ffffff;
  margin-bottom: 12px;
  color: #606060;
  font-family: "RobotoLight";
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
  padding-left: 48px;
}

.contacts-textarea {
  margin-bottom: 17px;
}

@font-face {
  font-family: 'RobotoBold';
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoCondensedBold';
  src: url("../fonts/RobotoCondensedBold/RobotoCondensedBold.eot");
  src: url("../fonts/RobotoCondensedBold/RobotoCondensedBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensedBold/RobotoCondensedBold.woff") format("woff"), url("../fonts/RobotoCondensedBold/RobotoCondensedBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoCondensedLight';
  src: url("../fonts/RobotoCondensedLight/RobotoCondensedLight.eot");
  src: url("../fonts/RobotoCondensedLight/RobotoCondensedLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensedLight/RobotoCondensedLight.woff") format("woff"), url("../fonts/RobotoCondensedLight/RobotoCondensedLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoCondensedRegular';
  src: url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot");
  src: url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.woff") format("woff"), url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoLight';
  src: url("../fonts/RobotoLight/RobotoLight.eot");
  src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoLight/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoMedium';
  src: url("../fonts/RobotoMedium/RobotoMedium.eot");
  src: url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"), url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoRegular';
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FranklinGothicHeavy';
  src: url("../fonts/FranklinGothicHeavy/ITCFranklinGothicStd-Hvy.eot");
  src: url("../fonts/FranklinGothicHeavy/ITCFranklinGothicStd-Hvy?#iefix") format("embedded-opentype"), url("../fonts/FranklinGothicHeavy/ITCFranklinGothicStd-Hvy.woff") format("woff"), url("../fonts/FranklinGothicHeavy/ITCFranklinGothicStd-Hvy.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FranklinGothicDemiC';
  src: url("../fonts/FranklinGothicDemiC/FranklinGothicDemiC.eot");
  src: url("../fonts/FranklinGothicDemiC/FranklinGothicDemiC.eot?#iefix") format("embedded-opentype"), url("../fonts/FranklinGothicDemiC/FranklinGothicDemiC.woff") format("woff"), url("../fonts/FranklinGothicDemiC/FranklinGothicDemiC.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FranklinGothicHeavyCyrillic';
  src: url("../fonts/FranklinGothicHeavyCyrillic/FranklinGothicHeavyCyrillic.eot");
  src: url("../fonts/FranklinGothicHeavyCyrillic/FranklinGothicHeavyCyrillic.eot?#iefix") format("embedded-opentype"), url("../fonts/FranklinGothicHeavyCyrillic/FranklinGothicHeavyCyrillic.woff") format("woff"), url("../fonts/FranklinGothicHeavyCyrillic/FranklinGothicHeavyCyrillic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  text-decoration: none;
}

img {
  max-width: 100%;
}

button, input, a, textarea {
  outline: none !important;
  cursor: pointer !important;
}

.line {
  width: 100%;
  height: 5px;
  background-color: #dfdfdf;
  opacity: 0.5;
}

.second-line {
  width: 100%;
  height: 1px;
  background-color: #dfdfdf;
  opacity: 0.5;
}

row {
  margin-left: 0px;
}

.title {
  color: #383838;
  font-family: 'RobotoBold';
  font-size: 30px;
  font-weight: 700;
  line-height: 24px;
}

.text {
  color: #383838;
  font-family: 'RobotoLight';
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

.button {
  width: 194px;
  height: 61px;
  color: #ffffff;
  font-family: 'RobotoRegular';
  font-size: 13px;
  text-transform: uppercase;
  background-color: #3fc380;
  border: 2px solid transparent;
  border-radius: 40px;
}

.button:hover {
  background-color: transparent;
  color: #3fc380;
  border: 2px solid;
}
/*# sourceMappingURL=style.css.map */