.choice
    background-image: url('../img/choice/bg-img-first.png') 
    background-size: fixed
    position: relative
    z-index: 1
    height: 460px
    margin-bottom: 42px
    &:before
        content: ''
        right: 0
        top: 0
        width: 40%
        height: 100%
        background-color: #f7f9f9
        position: absolute
        z-index: -1
    &-block
        &__first
            &-title
                width: 428px
                position: absolute
                top: 30%
                left: 25%
                font-family: 'FranklinGothicDemiC'
                color: #ffffff
                font-size: 110px
                font-weight: 400
                line-height: 90px
                text-transform: uppercase
                text-align: right
            &-img
                position: absolute
                left: 41%
                bottom: 0
        &__second
            &-wrap
                width: 458px
                position: absolute
                top: 20%
                left: 63%
            &-title
                margin-bottom: 14px
            &-text
                text-align: justify
                margin-bottom: 28px
            

                        
.choice2
    margin-bottom: 65px
    background-image: url('../img/choice/bg-image-second.png') 
    background-size: fixed
    position: relative
    z-index: 1
    height: 460px
    &:before
        content: ''
        left: 0
        top: 0
        width: 40%
        height: 100%
        background-color: #f7f9f9
        position: absolute
        z-index: -1
    &-block
        &__first
            &-title
                width: 428px
                position: absolute
                top: 30%
                left: 43%
                font-family: 'FranklinGothicDemiC'
                color: #ffffff
                font-size: 110px
                font-weight: 400
                line-height: 90px
                text-transform: uppercase
                text-align: left
            &-img
                position: absolute
                left: 39%
                bottom: 0
        &__second
            &-wrap
                width: 458px
                position: absolute
                top: 20%
                right: 63%
            &-title
                margin-bottom: 14px
            &-text
                text-align: justify
                margin-bottom: 28px         