.info
    margin-top: 44px
    margin-bottom: 48px
    &-block
        &__first
            font-family: 'RobotoRegular'
            &-title
                &:after
                    content: ''
                    width: 56px
                    height: 5px
                    background-color: #3fc380
                    display: block
                    margin-top: 17px
                    margin-bottom: 17px
            &-text
                text-align: justify
              
                