@media (max-width: 1199px)
    header
        display: none
    footer
        display: none

    .extra
        &-block
            &__text
                font-size: 15px
                line-height: 20px
    .bathhouse
        &-items
            &__title
                font-size: 100px
                line-height: 80px
                margin-bottom: 130px
            &__subtitle
                font-size: 35px
        &-text
            font-size: 17px
    .slider-nav__portfolio
        width: 700px
    .slick-next__portfolio
        bottom: 35px
    .slick-prev__portfolio
        bottom: 35px


    .feedback
        display: none

@media (max-width: 991px)
    .container
        padding-left: 20px
        padding-right: 20px

    .slider, .slick
        text-align: center

    .rooms
        &-button
            
        &-title
            text-align: center
        &-block
            &__first
                text-align: center
            &__second
                text-align: center
                height: auto
                &-title
                    &:before
                        display: none !important
                &-text
                    text-align: center
    .extra
        &-title
            text-align: center
    .bathhouse
        &-layers
            display: none
    .objects
        &-block
            &__items
                margin-bottom: auto
    .slider-nav__portfolio
        width: 500px


@media (max-width: 767px)
    .title
        line-height: 30px !important

    .idea
        &-title
            text-align: center
    .extra
        &-block
            &__text
                padding: 24px 10px
    .bathhouse
        &-items
            &__title
                font-size: 90px
                line-height: 80px
                margin-bottom: 120px
            &__subtitle
                font-size: 30px
        &-text
            font-size: 17px
    .objects
        &-block
            &__items
                margin-bottom: auto
                &-title
                    font-size: 14px
                &-text
                    font-size: 13px
                    line-height: 15px

    .portfolio
        padding-top: 40px
        padding-bottom: 0px
    .slider-nav__portfolio
        width: 300px
    .slick-next__portfolio
        bottom: 40px
    .slick-prev__portfolio
        bottom: 40px

@media (max-width: 575px)          
    .idea
        padding-left: 10px
        padding-right: 10px
        &-title
            font-size: 25px !important
        &-text
            font-size: 14px !important
    .rooms
        &-title
            font-size: 25px !important
    .slider
        &-for
            width: 350px
        &-nav
            width: 270px
            height: 85px
    .slick
        &-prev
            bottom: 47px
            left: -13px
        &-next
            bottom: 47px
            right: -20px
    .extra
        &-wrap
            width: 400px
            margin-right: auto
            margin-left: auto
    img 
        min-width: 100%
    .bathhouse
        padding-top: 50px
        padding-bottom: 50px
        &-items
            &__title
                font-size: 70px
                line-height: 70px
                margin-bottom: 100px
            &__subtitle
                font-size: 30px
        &-text
            font-size: 15px
    .objects
        &-block
            &__items
                width: 280px
            
@media (max-width: 450px) 
    .extra
        &-title
            font-size: 25px !important
        &-wrap
            width: 100%
            margin-right: auto
            margin-left: auto
    .bathhouse
        &-items
            &__title
                font-size: 50px
                line-height: 50px
                margin-bottom: 50px
            &__subtitle
                font-size: 30px
                line-height: 35px
        &-text
            font-size: 15px
            line-height: 20px

@media (max-width: 400px) 
    .idea
        &-title
            font-size: 22px !important
    .rooms
        &-title
            font-size: 20px !important
        &-block
            &__second
                &-text
                    font-size: 12px
                    line-height: 20px
    .slider
        &-for
            width: 280px
        &-nav
            width: 220px
            height: 85px
    .slick
        &-prev
            bottom: 53px
            left: -13px
        &-next
            bottom: 53px
            right: -22px

    .extra
        &-block
            &__wrap
                &:after
                    font-size: 17px 

@media (max-width: 350px) 
    .extra
        &-title
            font-size: 22px !important
        &-block
            &__wrap
                &:after
                    font-size: 15px 

