.portfolio
    background-color: #f7f9f9
    padding-bottom: 71px
    padding-top: 71px
    margin-bottom: 61px

.slider-for__portfolio
    width: 100% !important
    
.slider-nav__portfolio
    width: 1000px

.slick-prev__portfolio
    background: url('../img/rooms/arrow-left.png') no-repeat
    bottom: 30px
    left: -12px
    width: 6px
    height: 25px
    border: none

.slick-next__portfolio
    bottom: 30px
    right: -20px !important
    background: url('../img/rooms/arrow-right.png') no-repeat
    width: 6px
    height: 25px
    border: none
         