.rooms
    margin-bottom: 78px
    &-title
        margin-top: 42px
    &-block
        margin-top: 29px
        &__second
            height: 350px
            &-title
                color: #3fc380
                font-family: 'RobotoBold'
                font-size: 19px
                font-weight: 700
                line-height: 24px
                margin-bottom: 13px
                &:before
                    content: ''
                    width: 40px
                    height: 2px
                    background-color: #cccccc
                    margin-top: 11px
                    margin-bottom: 17px
                    display: block
            &-text
                color: #383838
                font-family: 'RobotoLight'
                font-size: 14px
                font-weight: 300
                line-height: 22px
                margin-bottom: 21px
                text-align: justify
            &-price
                color: #383838
                font-family: 'RobotoBold'
                font-size: 14px
                font-weight: 400
                line-height: 22px
                span
                    color: #959595
                    font-size: 12px
                    span
                        color: #3fc380 

    &-button
        position: absolute
        left: 15px
        bottom: 20px

.owl
    &-theme
        margin-left: auto
        margin-right: auto
        margin-top: 9px
        max-width: 400px
    &-prev
        width: 6px
        height: 25px
        background-image: url('../img/rooms/arrow-left.png') !important
        position: absolute 
        bottom: 35%
        left: -20px
        &:hover
            display: none
    &-next
        width: 6px
        height: 25px
        background-image: url('../img/rooms/arrow-right.png') !important
        position: absolute 
        bottom: 35%
        right: -20px
    &-dots
        display: none
    