@import 'header'
@import 'footer'
@import 'main'

@import 'fonts'
@import 'media'


*
    text-decoration: none

button, input, a
    outline: none !important
    cursor: pointer !important

.line
    width: 100%
    height: 5px
    background-color: #dfdfdf
    opacity: 0.5


@import url('https://fonts.googleapis.com/css?family=Open+Sans')